* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

button:focus {
    outline: 0;
  }

.calculator {
  background: #222;
  padding: 1.2em;
  border-radius: 13px;
}

.screen {
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: right;
  width: 100%;
  margin: 1.5em auto;
  padding: 0.8em;
  background: lightgrey;
}

.history {
  font-size: 1.2rem;
  color: #555;
  height: 1.2em;
}

.numpad {
  height: auto;
  width: auto;
  padding: 1.3em;
  border: solid 2px lightgray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

.btn {
  width: 3em;
  height: 3em;
  border: 0px;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
}

.c-btn, .ce-btn {
  background: #f76f4f;
  &:hover {
    background: darken(#f76f4f, 20%);
  }
}

.number-btn, .sec-op-btn {
  background: lightgrey;
  &:hover {
    background: darken(lightgrey, 20%);
  }
}

.equal-btn {
  background: lightgreen;
  &:hover {
    background: darken(lightgreen, 20%);
  }
}

.operator-btn {
  background: orange;
  &:hover {
    background: darken(orange, 20%);
  }
}